.lightdiagram{
    background-color:white;
    text-align:center;
    margin-top:50px;
}
.lightdiagram img{
    background-color:blue;
    border:1px solid red;
    position:absolute;
}
.lightdiagram canvas:nth-child(n){
    position:absolute;
     z-index:-1;
}
.lightdiagram canvas:nth-child(1){
    z-index:1;
    border:10px solid green;
}
.lightdiagram canvas:nth-child(2){
    z-index:0;
    border:10px solid yellow;
}

body{
    
}
